{% extends "base.html" %}

{% block title %}Nánari upplýsingar bensínstöðvar{% endblock %}
{% block content %}
    <h2>Nánari upplýsingar bensínstöðvar</h2>
    {% for item in gogn[results] %}
        {% if.item.key == k %}
            <h3>Söluaðili: {{item.company}}</h3>
            <h3>Staður: {{item.name}}</h3>
            <h3>Verð á 1. lítra af bensíni, 95 okten: {{item.bensín95}} kr,</h3>
            <h3>Verð á 1. lítra af Dísel olíu: {{item.desel}} kr,</h3>
        <div class="kort">
            <h4>Staðsetning bensínstöðvar</h4>
            <ul>
                <li>Breiddargráða: {{item.geo.let}}</li>
                <li>Lengdargáða: {{item.geo.lon}}</li>
                <li><a href="https://www.googel.com/maps/"{{item.geo.let}},{{item.geo.lon}}></li>
            </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endblok %}
